*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  color: #fff;
  height: 100vh;
  width: 100%;
  padding:30px;
  display: flex;
}
.card{
  position: relative;
   height: 300px;
   width: 240px;
   border-radius: 10px;
   padding: 10px;
   border: 2px solid #fff;
}
.card img{
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
}
.card .container{
  padding: 5px;
}
.card .container p{
  padding: 5px;
  font-size:medium;
  font-family: monospace;
}
.card .btn{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /*padding: 20px;*/
}
.card .btn button{
  height: 35px;
  width: 100px;
  text-transform: uppercase;
  padding: 7px;
  background-color: blue;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  border: 3px solid blue;
}
.card .btn button:hover{
 background-color: #fff;
 color: blue;
 border:none;
 cursor: pointer;
}
.wrapper-cards{
  display: flex;
  height: 100vh;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  align-content: flex-start;
}